<.header>
  Schedule {@schedule.id}
  <:subtitle>This is a schedule record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/schedules/#{@schedule}/edit"}>
      <.button>Edit schedule</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@schedule.name}</:item>
  <:item title="Subjects">{Enum.join(@schedule.subjects, ", ")}</:item>
  <:item title="Term">{@schedule.term.name}</:item>
</.list>

<.back navigate={~p"/schedules"}>Back to schedules</.back>
