<.header>
  New Term
  <:subtitle>Use this form to manage term records in your database.</:subtitle>
</.header>

<.term_form changeset={@changeset} action={~p"/terms"} />

<.back navigate={~p"/terms"}>Back to terms</.back>
