<SchedopWeb.ScheduleHTML.schedule_tabs current_tab="first_available" schedule={@schedule} />

<.header>
  First Available Classes for Schedule {@schedule.id}
  <:subtitle>
    These are the first available classes for your chosen subjects.
  </:subtitle>
</.header>

<.classes schedule={@schedule} classes={@classes} />

<.back navigate={~p"/schedules/#{@schedule}"}>Back to schedule details</.back>
