<.header>
  Class {@class.id}
  <:subtitle>This is a class record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/classes/#{@class}/edit"}>
      <.button>Edit class</.button>
    </.link>
  </:actions>
</.header>

<.class_list class={@class} />

<.back navigate={~p"/classes"}>Back to classes</.back>
